<div id="<%= dom_id artist %>">
  <p>
    <strong>Login:</strong>
    <%= artist.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= artist.password %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= artist.full_name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= artist.nickname %>
  </p>

  <p>
    <strong>Login status:</strong>
    <%= artist.login_status %>
  </p>

</div>
