<div id="<%= dom_id client %>">
  <p>
    <strong>Login:</strong>
    <%= client.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= client.full_name %>
  </p>

  <p>
    <strong>Login status:</strong>
    <%= client.login_status %>
  </p>

</div>
