<div id="<%= dom_id order %>">
  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= order.artist_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= order.service_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= order.notes %>
  </p>

</div>
