<h1>Homepage for ArtGear</h1>

<h2>Graphics Task Manager</h2>

<%= Time.now %>

<h2>Database content:</h2>

<h3>Clients:</h3>
<ul>
  <% @clients.each do |client| %>
    <%= link_to client do %>
      <li><%= client.full_name %> <%= client.email %></li>
    <% end %>
  <% end %>
</ul>

<h3>Artists:</h3>
<ul>
  <% @artists.each do |artist| %>
    <%= link_to artist do %>
      <li><%= artist.id %> <%= artist.nickname %> <%= artist.bio %></li>
    <% end %>
  <% end %>
</ul>

<h3>Orders:</h3>
<ul>
  <% @orders.each do |order| %>
    <%= link_to order do %>
      <li><%= order.id %> <%= order.order_status %> <%= order.notes %></li>
    <% end %>
  <% end %>
</ul>

<h3>Services:</h3>
<ul>
  <% @services.each do |service| %>
    <%= link_to service do %>
      <li><%= service.id %> <%= service.name %></li>
    <% end %>
  <% end %>
</ul>

<h3>Categories:</h3>
<ul>
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <li><%= category.id %> <%= category.name %></li>
    <% end %>
  <% end %>
</ul>

<h3>Addresses:</h3>
<ul>
  <% @addresses.each do |addresses| %>
    <%= link_to addresses do %>
      <li><%= addresses.id %> <%= addresses.address_line_1 %></li>
    <% end %>
  <% end %>
</ul>