<div id="<%= dom_id address %>">
  <p>
    <strong>Client:</strong>
    <%= address.client_id %>
  </p>

  <p>
    <strong>Address line 1:</strong>
    <%= address.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= address.address_line_2 %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

</div>
